@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary: #f2994a;
  --fill: #444654;
  --white: #fafafa;
  --secondary: #4ea9d0;
  --contrast: #e63946;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--fill);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--contrast);
}
a:hover {
  color: var(--secondary);
}
header {
  border-bottom: 1px solid var(--secondary);
  height: 300px;
  background: url("https://zerodragon.github.io/SiteCraft-Gallery/images/header.jpg") no-repeat center;
  background-size: cover;
}
header img {
  width: 100%;
}
nav.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
}
nav.navigation ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
nav.navigation a {
  display: inline-block;
  padding: 10px 0;
  margin: 0 6px;
  background-color: var(--contrast);
  min-width: 100px;
  text-align: center;
  color: var(--white);
  transition: all 300ms linear;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
nav.navigation a:hover {
  padding-top: 20px;
}
footer {
  border-top: 1px solid var(--secondary);
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}
h1 {
  color: var(--primary);
}
.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10%;
}
